code {
  background: #ddd;
}

code * {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.highlight pre {
  line-height: 125%;
  padding: 6px 0px 6px 12px;
  margin-bottom: 16px;
}

img {
  max-width: 100%;
}

a {
  color: #4078c0;
  text-decoration: none;
  background: transparent;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 6px;
  margin-block-end: 6px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.mermaid * {
  font-size: 24px;
}

blockquote {
  display: block;
  margin-block-start: 6px;
  margin-block-end: 6px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

video {
  max-width: 600px;
  min-width: 200px;
}

audio {
  max-width: 600px;
  min-width: 200px;
}

/* Name.Function */
/*.highlight .nf {*/
/*font-size: xx-large;*/
/*font-weight: bold;*/
/*}*/

.progress-label {
  position: absolute;
  text-align: center;
  font-weight: 700;
  width: 100%;
  margin: 0;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.progress-bar {
  height: 1.2rem;
  float: left;
  background-color: #2979ff;
}

.progress {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  height: 1.2rem;
  background-color: #eeeeee;
  position: relative;
}

.progress.thin {
  margin-top: 0.9rem;
  height: 0.4rem;
}

.progress.thin .progress-label {
  margin-top: -0.4rem;
}

.progress.thin .progress-bar {
  height: 0.4rem;
}

.progress-100plus .progress-bar {
  background-color: #00e676;
}

.progress-80plus .progress-bar {
  background-color: #fbc02d;
}

.progress-60plus .progress-bar {
  background-color: #ff9100;
}

.progress-40plus .progress-bar {
  background-color: #ff5252;
}

.progress-20plus .progress-bar {
  background-color: #ff1744;
}

.progress-0plus .progress-bar {
  background-color: #f50057;
}
